.benchmarks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 1rem;
  place-items: center;
  margin-top: 2rem;
}

/* Invert since I couldn't figure out how to make google graphs returna graph with light axis */
.benchmarks > img {
  filter: invert(1);
}
