.main {
  padding: 5rem var(--inline-padding);
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.main p {
  font-size: 1rem;
  line-height: 150%;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.list > li {
  margin-left: 1em;
}

.focus {
  font-weight: 700;
}
