:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --background-rgb: 15, 15, 15;
  --text-rgb: 238, 238, 238;
  --primary-rgb: 240, 82, 51;
  --secondary-rgb: 34, 34, 34;
  --accent-rgb: 240, 82, 51;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  color: rgb(var(--text-rgb));
  background-color: rgb(var(--background-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}
