.header {
  padding-inline: 9rem;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.75rem;
  font-weight: 600;
}

.links {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: clamp(1rem, 5vw, 2rem);
  align-items: center;
  list-style: none;
}

.links button {
  font-size: 1.25rem;
  color: rgb(var(--text-rgb));
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: none;
  padding: 0.5rem;
}

.download {
  font-size: 1.25rem;
  color: rgb(var(--background-rgb));
  background-color: rgb(var(--accent-rgb));
  padding: 0.75rem 2rem;
  border-radius: 0.75rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: none;
}

.links a {
  padding: 0.5rem;
  font-size: 1.25rem;
}

.expanded {
  background-color: royalblue;
}

.flip {
  transform: rotate(180deg);
}
