.expanded {
  background-color: royalblue;
}

.button img {
  transition: transform 0.2s ease-in;
}

.dropdown > ul {
  display: none;
}

.dropdown > ul[aria-expanded="true"] {
  display: block;
  position: absolute;
}

.flip {
  transform: rotate(-180deg);
}
