.carousel {
  overflow-x: hidden;
  position: relative;
}

.items {
  position: relative;
  display: flex;
  gap: 1rem;
  align-items: center;
  transition: transform 0.5s ease;
}

.items img {
  width: 100%;
  object-fit: scale-down;
}

.item {
  padding: 1.25rem;
  border-radius: 1.25rem;
  flex: 0 0 15rem;
  height: 15rem;
  background-color: rgb(var(--secondary-rgb));
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}
